{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    {% include 'header.html' %}
    <main>
        <div class="about_title">
            <div class="grid">
                <div class="title">
                    <img src="{% static 'img/smi.png' %}" alt="image">
                    <h1> Фонд «Центр <br> Поддержки СМИ» </h1>
                </div>
            </div>
        </div>

        <div class="about_desc grid">
            <p>Общественный Фонд «Центр Поддержки СМИ» <br>

                является устойчивой некоммерческой организацией, миссия которой продвижение свободы

                слова в Кыргызстане содействие экономическому росту и повышение профессионального

                уровня СМИ.</p>

            <p>Для достижения миссии, фонд успешно осуществляет коммерческую деятельность

                по оказанию типографских услуг, имея в своем активе независимую типографию. Благодаря

                внедрению инноваций и сильной команде, фонд стал лидером печати в газетной индустрии

                Кыргызстана. Ежегодно в типографии печатаются миллионы экземпляров популярных газет
            </p>
            <p>(“Супер-Инфо», «Комсомольская правда» и др.). </p>
            <p>В 2017 году фонду «Центр поддержки СМИ» исполняется 14 лет.
            </p>
            <p>Сегодня фонд занимается развитием медиа и информационной грамотности на

                национальном уровне.

            </p>

            <p>Кроме этого фонд реализует программы по созданию нового поколения журналистов, создает

                платформы для обмена опытом и повышения потенциала молодых специалистов

                в сфере медиа. Такие программы, как </p>

            <ul class="partners">
                <li><a href="#">
                    <img src="{% static 'img/logo_mlc.png' %}" alt="image">«Media Literacy Course» </a></li>
                <li><a href="#">
                    <img src="{% static 'img/logo_coursekg.png' %}" alt="image">«Студия практической журналистики»</a>
                </li>
            </ul>

            <p>являются успешной платформой для профессиональной ориентации

                начинающих медиа-экспертов.</p>

            <h2>Программы фонда по развитию медиа грамотности</h2>
            <p>Программы фонда по развитию медиа грамотности

                Совместно с Кыргызской Академией Образования и Министерством Образования фонд

                реализует программу по внедрению предмета «Медиа и Информационная грамотность» в

                систему школьного образования.
            </p>

            <p class="padding">Фондом создаются учебно-методические пособия для преподавателей школ и проводятся

                тренинги по медиа информационной грамотности.
            </p>

            <p>Цель программы - формирование критического и аналитического мышления

                среди молодежи В некоторых школах Бишкека и Чуйской области были проведены

                пилотные уроки по медиа грамотности. Старшеклассники учились критически оценивать

                продукты медиа, отличать фейк от информации.</p>
        </div>
    </main>

    <footer>
        <div class="grid">
            <div class="address">
                <img src="{% static 'img/address.png' %}" alt="image">
            </div>

            <ul class="contacts">
                <li>2017 Центр поддержки СМИ. <br> г. Бишкек, ул. Горького 1Б</li>
                <li>+996 312 53-00- 00 <br> +996 312 53-16- 39</li>
                <li>www.msc.kg <br> https://www.facebook.com/msc.kg</li>
            </ul>
        </div>
    </footer>
{% endblock %}