{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Sabak</title>
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.quiz-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'css/media.css' %}">

</head>
<body>

{% block content %}



{% endblock %}

<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.quiz-min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

{% block scripts %}

{% endblock %}
</body>
</html>