{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'header.html' %}
    <main class="books_bg">
        <div class="books_title">
            <div class="grid">
                <h1>книги</h1>
            </div>
        </div>

        <div class="books_container">
            <div class="grid">
                <div class="accordion_block">
                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>

                    <button class="accordion">Критическое мышление</button>
                    <div class="panel">
                        <div class="book_img">
                            <img src="{% static 'img/book.jpg' %}" alt="image">
                        </div>

                        <p>Более 100 лет мир читает произведения о Шерлоке Холмсе. Слава этого героя затмила всех
                            известных персонажей мировой литературы. Настоящий том включает сборник рассказов
                            о знаменитом сыщике - "Записки о Шерлоке Холмсе" (1892-1893), среди которых
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада.
                            "Обряд дома Месгрейвов", "Горбун", "Морской договор", "Желтое лицо", а также рассказ
                            "Последнее дело Холмса", в котором Шерлок Холмс вступает в смертельную схватку с главой
                            лондонского преступного мира профессором Мориарти у Рейхенбахского водопада...... </p>

                        <a href="#">читать далее</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}