<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Media Sabak</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<header>
		<div class="header grid">
			<a href="#"><img src="img/defaul_logo.png" alt="image"></a>
		</div>
	</header>
	<main class="links_bg">
		<div class="links_title">
			<div class="grid">
				<h1>ссылки</h1>
			</div>
		</div>

		<div class="links_container">
			<div class="grid">
				<div class="accordion_block link_accordion">
					<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>

						<button class="accordion">http://medialiteracy.org/</button>
					<div class="panel">
						<div class="book_img">
							<img src="img/link_img.jpg" alt="image">
						</div>

						<p>Останні кілька років російська пропагандистська машина 
							лише збільшує свої обороти, впливаючи не лише на власне 
							населення, а але й на міжнародну аудиторію. Про найяскравіші 
							www.global-ukraine-news.org</p>

							<a href="#">http://medialiteracy.org/</a>	
						</div>
					</div>
				</div>
			</div>
		</main>


		<script src="js/libs.min.js"></script>	
		<script src="js/common.js"></script>	
	</body>
	</html>