{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <main class="more_bg">
        <div class="grid">
            <div class="more_block">
                <div>
                    <a href="#">
                        <img src="{% static 'img/logo.png' %}" alt="image">
                    </a>

                    <p>В этом разделе вы сможеть узнать больше о медиа информационой грамотности в Кыргызстане и в
                        мире:</p>
                </div>
            </div>

            <div class="more_links">
                <ul>
                    <li><a href="#">книги</a></li>
                    <li><a href="#">видео</a></li>
                    <li><a href="#">полезные<br>ссылки</a></li>
                </ul>

                <img src="{% static 'img/more_links_img.png' %}" alt="image">
            </div>
        </div>
    </main>

{% endblock %}