{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'header.html' %}
    <main class="lesson_bg">
        <div class="grid">

            <div class="lesson_container">
                <div class="tabs-stage">
                    <div id="tab-1">
                        {#                        <h4>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</h4>#}

                        <div class="slider">
                            {% for item in images %}
                                <div class="sl_slide">
                                    <img src="{{ item.image.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-2">
                        {{ lesson.text_type|safe }}
                    </div>

                    <div id="tab-3">

                        <div class="video_lesson">
                            <iframe id="vid_frame"
                                    src="https://www.youtube.com/embed/{{ lesson.link }}?list=RDpapuvlVeZg8?ecver=1"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>

                <ul class="tabs-nav">
                    <li>
                        <a href="#tab-1">
                            <img src="{% static 'img/power_point.png' %}" alt="image">
                        </a>
                        <div class="help_text">
                            <span>выберите  просмотр презентации</span>
                        </div>
                    </li>
                    <li>
                        <a href="#tab-2">
                            <img src="{% static 'img/word.png' %}" alt="image">
                        </a>
                        <div class="help_text">
                            <span>выберите  просмотр презентации</span>
                        </div>
                    </li>
                    <li>
                        <a href="#tab-3">
                            <img src="{% static 'img/video_icon.png' %}" alt="image">
                        </a>
                        <div class="help_text">
                            <span>выберите  просмотр презентации</span>
                        </div>
                    </li>
                    <li>
                        <audio controls>

                            <source src="{{ lesson.audio.url }}" type="audio/mp3">

                        </audio>
                    </li>
                </ul>
            </div>

            <ul class="list_lesson">
                <li class="hamburger_collapsed">
                    <div class="hamburger"></div>
                </li>
                {% for item in all_lesson %}
                    <li><a href="{% url 'single_lesson' id=item.id %}">{{ item.name }}</a></li>
                    {% if item.check == True %}
                        <li><a href="{% url 'test_lesson' item.id %}">Промежуточный тест</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </main>

{% endblock %}