<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Media Sabak</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<header>
		<div class="header grid">
			<a href="#"><img src="img/logotyp2.png" alt="image"></a>
		</div>
	</header>
	<main class="tests_bg">
		<div class="grid">
			<div class="test1">
				 <h4>1.	Определите, к какому сообщению относится  каждый постер</h4>

				 <div class="test1_img">
				 	<img src="img/test1_img.jpg" alt="image">
				 	<div class="test_overlay">
				 		<h5>Постер рекламирует батончик «Kit-Kat»</h5>
				 	</div>
				 </div>

				 <div class="btns">
				 	<button class="btn false">Информирование</button>
				 	<button class="btn false">Пропаганда</button>
				 	<button class="btn true">Реклама</button>
				 </div>
			</div>

			<div class="test2">
				<h4>2.	Определить какое видео является фейковым?
					Пользователь смотрит по очереди видео и выбирает те видео, 
					которые считает фейковыми.</h4>

				<div class="test2_video">
					<iframesrc="https://www.youtube.com/embed/papuvlVeZg8?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="btns">
				 	<button class="btn false">Фейк</button>
				 	<button class="btn true">Не фейк</button>
				 </div>
			</div>

			<div class="test3">
				<h4>1.	Определите, к какому сообщению относится  каждый постер</h4>
			
				<div class="test3_img">
					<img src="img/test3_img.jpg" alt="image">
				</div>
				
				<div class="btns">
				 	<button class="btn false">Фейк</button>
				 	<button class="btn true">Не фейк</button>
				 </div>
			</div>

			<div class="test4">
				<h4>4.	Определите, какое из двух предложений в каждой строке является фактом, а какое мнением?</h4>
				<div class="sub_test">
					<h5>Министерство образования продлило канткулы в школах Кыргызстана, так как зима выдалась холодной</h5>
					<div class="btns">
				 	<button class="btn false">Факт</button>
				 	<button class="btn true">Мнение</button>
				 </div>
				</div>
				<div class="sub_test">
					<h5>Министерство образования продлило канткулы в школах Кыргызстана, так как зима выдалась холодной</h5>
					<div class="btns">
				 	<button class="btn false">Факт</button>
				 	<button class="btn true">Мнение</button>
				 </div>
				</div>
			</div>
		</div>
	</main>


	<script src="js/libs.min.js"></script>	
	<script src="js/common.js"></script>	
</body>
</html>