{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'header.html' %}
    <main class="videos_bg">
        <div class="videos_title">
            <div class="grid">
                <h1>видеоуроки</h1>
            </div>
        </div>

        <div class="video_container">
            <div class="grid">
                <div class="vid-container">
                    <iframe id="vid_frame" src="https://www.youtube.com/embed/papuvlVeZg8?rel=0?ecver=1" frameborder="0"
                            allowfullscreen></iframe>
                    <h4>Зачем нужна медиаграмотность-2</h4>
                </div>

                <div class="vid-list-container">
                    <div class="vid-list">
                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Nurbek Avtandilov
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Aybek Rayimbekov
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/G4NcpKLecqc?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/G4NcpKLecqc/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>

                        <div class="vid-item"
                             onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/JGwWNGJdvx8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                            <div class="thumb">
                                <img src="http://img.youtube.com/vi/JGwWNGJdvx8/0.jpg">
                            </div>
                            <div class="desc">
                                Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie [Official Video]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}